.Foto {
    width: 150px;
    height: 150px;
    border-radius: 360px;
}


.ficha {
    background-color: #164bab;
    color: #abe1ed;
    border-style: solid;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 200px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    color: #abe1ed;
    background-color: #164bab;
    border-style: solid;
    border-radius: 25px;
    text-align: center;
}

.columnas {
    margin: 10px;
    padding: 10px;
    background-color: #164bab;
    border-radius: 15px;
    border-style: solid;
    color: #abe1ed;
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cuerpo{
    background-image: url(v1016-b-09.jpg);
}

.pie{
    color: #abe1ed;
    background-color: #164bab;
    border-style: solid;
    border-radius: 10px;
    text-align: center;

}

.art{
    padding: 10px;
    display: block;
}
